body{
  /*background-color: #b0e0e6;*/
  background-image: url(../img/Matrix.jpg);
}



 h1 {
   color: #ffffff;
   font-family: Audiowide,monospace;
   text-align: center;
   font-size: 45px;
   text-shadow: -2px 2px #000000,
                -2px -2px #8e4040,
                2px -2px #8e4040,
                2px 2px #8e4040;
 }

 h3{
   font-size: auto;
 }


#screen, #different, #frontback,  #people, #office, #size, #email, #design, #frontVid, #ruby, #rubyVid, #android, #php, #drupalVid, #javaVid, #net, #cVid{
  display: none;
}

#frontVid, #rubyVid, #drupalVid, #javaVid #cVid{
  color:inherit;
}

.jumbotron{
  text-align: center;
}

.standardsize {
  align-items: center;
  width: 300px;
  padding: 10px;
  margin: 10px;
}

.imsmall {
  width: 80px;
}

#upperright{
  border-right: 25px;
  border-top: 300px;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.input-medium {
  width:75%;
  margin: 0 auto;
}

.radiosilence {
  display: none;
}
