body{
  background-color: #b0e0e6;
}


 h1 {
   font-family: Audiowide,monospace;
   text-align: center;
 }

 h3{
   font-size: auto;
 }


/*#screen, #different, #frontback,  #people, #office, #size, #email, #design, #ruby, #android, #php, #net{
  display: none;
}*/

.jumbotron{
  text-align: center;
}

.standardsize {
  align-items: center;
  width: 300px;
  padding: 10px;
  margin: 10px;
}

.imsmall {
  width: 80px;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.imput-medium {
  width:75%;
  margin: 0 auto;
}

.radiosilence {
  display: none;
}
